spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/yomu
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

server:
  port: 8080