spring:
  datasource:
    url: jdbc:h2:mem:yomu;MODE=PostgreSQL;DB_CLOSE_DELAY=-1
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop

  flyway:
    enabled: false