name: Dummy CD

on:
  push:
    branches: [ "staging", "main" ]

jobs:
  quality-gate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: gradle
      - run: chmod +x gradlew
      - run: ./gradlew test

  deploy:
    runs-on: ubuntu-latest
    needs: quality-gate
    steps:
      - run: echo "Deploying (dummy) because quality checks passed."
