name: Backend CI

on:
  push:
    branches: [ "main", "staging", "cicd-setup" ]
  pull_request:
    branches: [ "main", "staging", "cicd-setup"]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: gradle

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Build & Test
        run: ./gradlew spotlessCheck clean test jacocoTestReport